<template>
<div class="hashstore">
    <h1>File Upload</h1>
    <v-form>
        <v-file-input label="Upload Assets"></v-file-input>
        <v-text-field
          v-model="metadata.title"
          :error-messages="errors"
          label="Title"
          required
        ></v-text-field>
        <v-text-field
          v-model="metadata.author"
          :error-messages="errors"
          label="Author(s)"
          required
        ></v-text-field>
        <v-textarea
  name="input-7-1"
  label="Description"
  v-model="metadata.description"
  hint="Hint text"
></v-textarea>
<v-textarea
  name="input-7-1"
  label="Abstract"
  v-model="metadata.abstract"
  hint="Hint text"
></v-textarea>

        <input type="submit" @click="save" />
    </v-form>
</div>
</template>

<script>
import OrbitDB from 'orbit-db'
import IPFS from 'ipfs'

export default {
    name: 'hashstore',
    props: ['state'],
    data: function() {
        return {
            upload: null,
            file: {
                hash: ''
            },
            metadata: {
                title: null,
                description: null,
                abstract: null,
                authors: null
            }
        }
    },
    methods: {
        uploadFile(event) {
            this.upload = event.target.files[0]
        },
        save(event) {
            event.preventDefault()
            const reader = new FileReader()
            reader.readAsArrayBuffer(this.upload)

            reader.onloadend = async () => {
              const nodeId = await this.state.ipfs.id()
              console.log('ipfs id', nodeId.addresses)
                const response = await this.state.ipfs.add(IPFS.Buffer(reader.result))
                this.file = response[0]

                console.log('ipfs hash', this.file.hash)

                const orbitdb = await OrbitDB.createInstance(this.state.ipfs)
                const db = await orbitdb.docs(this.state.owner+'.repository')
                await db.load()

                var record = {
                    _id: this.file.hash,
                    metadata: this.metadata
                }

                var tx = await db.put(record)

                console.log('orbitdb tx', tx)

                const topic = "knowledgearc-network-ipfs"
                const msg = IPFS.Buffer.from(this.file.hash)

                await this.state.ipfs.pubsub.publish(topic, msg)

                console.log(`published to ${topic}`)
            }
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
    font-weight: normal;
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #42b983;
}

ul {
    display: grid;
}
</style>
